<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">People with Pets</a>
      </div>
    </div>
  </nav>
</div>    

<div class="container">
  <button type="button" class="btn btn-success">List cats alphabetically by owners gender</button>
</div>

<div class="container">
    <h4>Male</h4>
    <ul style="list-style-type:square">
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
      </ul>
</div>