/* You can add global styles to this file, and also import other style files */
html,
body{
    padding-top: 30px;
    font-family: 'Segoe UI'
}

.section-nav {
    padding-left: 0;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.toc-entry {
    display: block;
}

ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}